@page

<html>
<head>
    <title>Pokémon PWA</title>
    <link href="~/estilos.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Pokémon PWA</h1>
    </header>
    <main>
        <section class="pokemon">
            <h2>Charizard</h2>
            <h2>#006</h2>
            <h2>
                <span class="fuego">Fuego</span>
                <span class="volador">Volador</span>
            </h2>
       <h2>Pokémon flama</h2>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/006.png" />

            <div class="info">
                <p>Charizard se dedica a volar por los cielos en busca de oponentes fuertes. Echa fuego por la boca y es capaz de derretir cualquier cosa. No obstante, si su rival es más débil que él, no usará este ataque.</p>
                <p><b>Altura</b> 1.7m</p>
                <p><b>Peso</b> 90.5kg</p>
            </div>

        </section>

    </main>
</body>
</html>