@page

<html>
<head>
    <title>Pokémon PWA</title>
    <link href="~/imgs/icono.png" rel="icon" />
    <link rel="manifest" href="/manifest.json">
    <link href="~/estilos.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Pokémon PWA</h1>
    </header>
    <main>
        <section class="listview">

            <template>
                <div class="listitem">
                    <img class="icono"/>
                    <span class="numero"></span>
                    <span class="nombre"></span>
                </div>
            </template>


        </section>
    </main>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/serviceworker.js?v=6');
        }

        let plantilla = document.querySelector("template");
        let listView = document.querySelector(".listview");

        async function descargarPokemon() {
            let resp = await fetch("https://itesrc.net/api/pokemon");
            if (resp.ok) {
                let datos = await resp.json();
                for (var i = 0; i < 150; i++) {
                    let clone = plantilla.content.cloneNode(true);
                    clone.children[0].src = datos[i].icono;
                    // clone.children[1].textContent = datos[i].numero;
                    // clone.children[2].textContent = datos[i].nombre;
                    listView.append(clone);
                }
                console.log(datos);
            }
        }

        descargarPokemon();

    </script>
</body>
</html>